<nav>
   <h1>Welcome.</h1>
  <a href="http://user.qzone.qq.com/1551739226/main" target="_blank">
    <img src="http://i2.tietuku.com/1e2ae997e35d5e63.png" id="logo" alt="Blog logo"/>
  </a>
  <h2>I'm <a href="http://weibo.com/3105823375" target="_blank">{{ site.theme.name }}</a>.</h2>
  <hr/>
  <ul>
  <p>I am a undergraduate learning Computer Science and Technology in<a href="http://cs.ccnu.edu.cn/index.html" target="_blank"> CCNU<a>.</p>
  
  <hr/>
  <div>
    <div id="social">
      {% include social.html %}
    </div>
  </div>
  </ul>
</nav>
